* {
	box-sizing: border-box;
}

#game-holder {
	widows: 100%;
	max-width: 800px;
	position: relative;
}

.card {
	display: inline-block;
	width: 10%;	
	position: relative;
	vertical-align: top;
	
}

.card:first-child:after {
	border-left: 1px solid #000;
}

.card:after {
	content: '';
	padding-top: 100%;
	display: block;
	border-right: 1px solid #000;
}

.card .card-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 4px;
}

.card-row {
	border-bottom: 1px solid #000;
	
}

.card-row:first-child {
	border-top: 1px solid #000;
}

.card-suit {
	font-size: 40px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-suit.heart, .card-suit.diamond {
	color: red;
}


.piece {
	position: absolute;	
	width: 10%;
	/*top: 1px;*/
	top: 0;
	left: 0;
	/*margin: 1.5% 1.5%;*/
}

.piece:after {
	content: '';
	padding-top: 100%;
	display: block;
	background-color: red;
	/*border-radius: 50%;*/
}

.piece.home:after {
	background-color: #000000;
}